*{
    background-attachment: fixed;
    color: white;
    font-size: 22px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

body {    
    align-items: center;
    background-image: linear-gradient(        
        to bottom right,        
        black 50%,        
        rgb(3, 3, 43)        
    );
    display: flex;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
    width: 100%;
    
}

main {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;    
}

button {
    height: 34px;
    border-radius: 50px;
    background-color: rgb(112, 0, 0);
    justify-content: center;
    width: 100%;           
}

img {
    margin-bottom: 10px;
    border: 10px;
    border-color: white;
    border-radius: 20px;
    width: 500px;
    height: 265;    
}

section {
    width: 500px;
}

li {
    margin-bottom: 8px;
    font-size: 27px;
}

#listinha {
    display: none;
} 